* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Crimson Text", serif;
    background-color: #f5f3f4;
}





.banner-image {
    height: 300px !important;
    /* adjust as needed */
    object-fit: cover;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    /* dim effect */
    z-index: 1;
}

.banner-text {
    z-index: 2;
    padding: 0 15px;
}

.text-shadow {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
}

.banner-text>p {
    font-size: 16px;
    font-weight: 600;
    color: #b1a7a6;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.banner-text>p>span {
    color: #fff;
    font-weight: bold;
    font-size: 17px;
}




/**------BLOG SECTION------**/
.blog-section {
  background-color: #f5f7fa;
  padding: 60px 15px;
}

.blog-card {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
  /* box-shadow: 1px 1px 4px #4e0714; */
}
.blog-card:hover {
    box-shadow: 1px 1px 4px rgba(255,0,84,0.8);
}

/* Image wrapper */
.blog-img-wrapper {
  width: 100%;
  max-width: 250px;
  aspect-ratio: 1/1;
  overflow: hidden;
  flex-shrink: 0;
}

.blog-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.blog-img-wrapper:hover img {
  transform: scale(1.1);
}

/* Content */
.blog-content h5 a {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
   font-family: "Crimson Text", serif;
}
.blog-content h5 a:hover {
    color: rgba(255,0,84,0.8);
    text-decoration: underline;
}
.blog-content p {
  font-size: 15px;
  color: #555;
  font-family: "Nunito", sans-serif;
  margin-bottom: 10px;
  line-height: 1.6;
  margin-top: 10px;
}

.blog-content a {
  color: #000;
  font-weight: 500;
  font-size: 17px;
  text-decoration: none;
}

.blog-content a button {
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background: linear-gradient(to right, rgba(255,0,84,0.7));
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    font-family: "Nunito", sans-serif;
}

.blog-content a button:hover {
    background: transparent;
    border: 1px solid rgba(255,0,84,0.7);
    color: rgba(255,0,84,0.8);
    box-shadow: 1px 1px 4px rgba(255,0,84,0.7);
}
/* .blog-content .click-link:hover {
    color: #4e0714;
    text-decoration: underline;
} */


/* Mobile responsiveness */
@media (max-width: 767px) {
  .blog-card {
    flex-direction: column;
  }

  .blog-img-wrapper {
    max-width: 100%;
    max-height: 200px;
    height: auto;
    aspect-ratio: auto;
  }

  .blog-img-wrapper img {
    height: 100%;
    object-fit: cover;
  }

  .blog-content {
    padding: 15px;
  }
}


.pagination-link.active {
  background-color: rgba(255,0,84,0.7)!important;
  color: white!important;
  border-color: rgba(255,0,84,0.7)!important;
}

.pagination-link {
  border-color: rgba(255,0,84,0.7)!important;
  color: rgba(255,0,84,0.7)!important;
}

.pagination-link:hover {
  background-color: rgba(255,0,84,0.7)!important;
  color: white!important;
}
